/* Loader CSS - Ramos Barbearia
   Mantém o mesmo link no HTML e organiza o CSS em módulos. */

@import url("./variables.css");
@import url("./reset.css");
@import url("./base.css");
@import url("./layout.css");
@import url("./components.css");
@import url("./forms.css");
@import url("./responsive.css");